/* No `:visited` state is required by default (browsers will use `a`) */
a {
  color: #bf4d4d;
  text-decoration: none;
}
a strong {
  color: inherit;
}
/* `:focus` is linked to `:hover` for basic accessibility */
a:hover,
a:focus {
  text-decoration: underline;
}
@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 18.667px;
  }
}
.sidebar-about h1{
	font-size: 2.75rem;
}
.lead {
    font-size: 0.7rem;
    font-weight: 300;
    color: rgba(255,255,255,0.7);
    margin-bottom: 0.25rem;
}
.follow {
    font-size: 0.7rem;
    font-weight: 300;
    margin-bottom: 0.25rem;
}
.sidebar-about h1 {
/*letter-spacing: 1px;*/
margin-bottom: 0.25rem;
}
.sidebar {
  text-align: center;
  color: rgba(255,255,255,.5);
  background-color: #202020;
}
.theme-base-08 .sidebar{
  background-color: #202020;
}
.sidebar-sticky{
  background:-moz-linear-gradient(top,rgba(22,27,33,0) 0,rgba(22,27,33,.01) 1%,rgba(22,27,33,.7) 70%,rgba(22,27,33,.7) 100%);
  background:-webkit-linear-gradient(top,rgba(22,27,33,0) 0,rgba(22,27,33,.01) 1%,rgba(22,27,33,.7) 70%,rgba(22,27,33,.7) 100%);
  background:linear-gradient(to bottom,rgba(22,27,33,0) 0,rgba(22,27,33,.01) 1%,rgba(22,27,33,.7) 70%,rgba(22,27,33,.7) 100%)
}
.header-image {
 top:0;
 left:0;
 bottom:0;
 right:0;
 background-size:cover;
 background-position:center;
 background-repeat:no-repeat;
 opacity:0;
 -webkit-transition:opacity .4s ease-in-out;
 -moz-transition:opacity .4s ease-in-out;
 -ms-transition:opacity .4s ease-in-out;
 -o-transition:opacity .4s ease-in-out;
 transition:opacity .4s ease-in-out
}
@media (min-width: 48em) {
 .header-image {
  width:18rem
 }
}
.header-image--on {
    opacity: 1;
}
@media (min-width: 48em) {
  .sidebar-sticky{
  margin: -1rem;
  }
 .header-image {
 position:absolute;
 }
}
@media (max-width: 48em) {
  .sidebar {
  display: flex;
  flex-flow: row nowrap;
  padding: inherit;
  }
  .header-image {
  position: inherit;
  flex: none;
  width: 100%;
  }
  .sidebar-sticky{
  flex: none;
  width: 100%;
  padding: 2rem;
  margin-left: -100%;
}}
