.sidebar-about h1 {
letter-spacing: 1px;
}
.sidebar {
  text-align: center;
  padding: 2rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #202020;
}
.theme-base-08 .sidebar{
  background-color: #202020;
}
.header-image {
 position:absolute;
 top:0;
 left:0;
 bottom:0;
 right:0;
 background-size:cover;
 background-position:center;
 background-repeat:no-repeat;
 opacity:0;
 -webkit-transition:opacity .4s ease-in-out;
 -moz-transition:opacity .4s ease-in-out;
 -ms-transition:opacity .4s ease-in-out;
 -o-transition:opacity .4s ease-in-out;
 transition:opacity .4s ease-in-out
}
@media (min-width: 48em) {
 .header-image {
  width:18rem
 }
}
.header-image--on {
    opacity: 1;
}
.header-overlay {
 position:absolute;
 top:0;
 left:0;
 bottom:0;
 right:0;
 background:rgba(22,27,33,.7)
}
@media (min-width: 48em) {
 .header-overlay {
  background:-moz-linear-gradient(top,rgba(22,27,33,0) 0,rgba(22,27,33,.01) 1%,rgba(22,27,33,.7) 70%,rgba(22,27,33,.7) 100%);
  background:-webkit-linear-gradient(top,rgba(22,27,33,0) 0,rgba(22,27,33,.01) 1%,rgba(22,27,33,.7) 70%,rgba(22,27,33,.7) 100%);
  background:linear-gradient(to bottom,rgba(22,27,33,0) 0,rgba(22,27,33,.01) 1%,rgba(22,27,33,.7) 70%,rgba(22,27,33,.7) 100%)
 }
}
@media (max-width: 48em) {
  .sidebar {
  display: flex;
  flex-flow: row nowrap;
  }
  .header-image, .header-overlay{
  position:relative;
  flex: none;
  width: 100%;
  margin: -2rem -1rem;
  }
  .sidebar-sticky{
  flex: none;
  width: 100%;
  margin-left: -100%;
}}
