a { color: #267CB9; text-decoration: none; }

a:hover, a:focus { color: #069; font-weight: bold; }

a small { font-size: 11px; color: #777; margin-top: -0.3em; display: block; }

a:hover small { color: #777; }

@import "{{ site.theme }}";
