@import "{{ site.theme }}";

a { color: #111111; text-decoration: none; }

a:hover, a:focus { color: #000; font-weight: bold; }

a small { font-size: 11px; color: #111; margin-top: -0.3em; display: block; }

a:hover small { color: #000; }

